<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/segundario02.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nueva Temporada</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/seundario01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ofertas</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../../assets/segundario03.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Complementos</h5>
      </div>
    </div>
</div>

